/*
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ul li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

ul li + li {
  margin-left: 1rem;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #1c1b22;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1 {
  color: #f2e4d8;
  font-family: "Bebas Neue", cursive;
  font-size: 4.3rem;
  padding: 1em 0;
  letter-spacing: 1.2px;
  position: relative;
  z-index: 1;
}

h1:after {
  content: " ";
  border-bottom: 1px solid #bf5e5e;
  max-width: 100px;
  position: relative;
  bottom: -1px;
  display: block;
}

.test {
  position: absolute;
  z-index: -1;
  top: 20%;
}

.test2 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

@mixin base--400() {
  h1 {
    font-size: 2.488rem;
  }
}

@mixin base--700() {
  h1 {
    font-size: 3.583rem;
  }
}

@mixin base--1300() {
  h1 {
    font-size: 4.3rem;
  }
  h1:after {
    max-width: 180px;
  }
}
