
/*
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
*/


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ul li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
  list-style: none;
}



ul li + li{
    margin-left: 1rem;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #1C1B22;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


h1 {
    color: #F2E4D8;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.3rem;
    padding: 0.5em 0;
    letter-spacing: 1.2px;
    position: relative;
    z-index: 1;
 }
 
 h1:after{
     content: " ";
     border-bottom: 1px solid #BF5E5E;
     max-width: 180px;
     position: relative;
     bottom: 10px;
     display: block;
 }
 
 .row{
    /* max-width: 1100px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


 .test{
     position: absolute;
     z-index: -1;
     top: 20%;
 }

 .test2{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.button{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 0.9rem;
    margin: 3em 0;
    padding: 0.5em 1.5em;
    color: #F2E4D8;
    background-color:#BF5E5E;
    display: block;
    transition: 0.3s ease-in;
}

.button:hover{
  opacity: 0.8;
  transition: 0.3s ease-out;
}

.header {
    background-color: #1C1B22;
    position: relative;
    z-index: 1;
}

.header__nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
    background-color: #1b1a20f7;
    box-shadow:0 1px 1px 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}

.header__nav-brand-list, .header__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-list-item {
    color: #F2E4D8;
}

.header__nav-list li:last-child a {
    color: #BF5E5E;
}

.header__nav-list li:last-child a:hover {
    opacity: 0.8;
}

.header__nav-list-line {
    border-left: 2px solid #F2E4D8;
    height: 20px;
}

.header__nav-list a{
    color: #F2E4D8;
    text-decoration: none;
   font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    transition: 0.3s ease-out;
}

.header__nav-list a:hover { 
    color: #BF5E5E;
    transition: 0.3s ease-in;
}
.header__nav-brand-list img{
    max-width: 100%;
}

.header__nav-brand-list-item{
    margin-right: 2.5rem;  
}

.header__nav-list{
    display: flex;
}

.header__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5em 0;
}


.header__text {
    color: #F2E4D8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.44rem;
    line-height: 2;
}

.header__display img{ 
    margin-left: 5em;
}

.specialties{
    padding: 4em 0;
    background-color: #1C1B22;
}

.specialties__summary{
    display: flex;
    position: relative;
    z-index: 1;
}

.specialties__item{
    padding: 1em 0;
}
.specialties__item-title{
    padding-top: 0.8em;
    padding-bottom: 0;
    font-family: 'Bebas Neue', cursive;
    color: #F2E4D8;
    font-size: 2.488rem;
}

.specialties__item-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #F2E4D8;
    font-size: 1rem;
    line-height: 2;
    margin-right: 2rem;
    margin-top: 1.5rem;
    max-width: 80%;
    margin: 0 auto;   
}

.featured{ 
    padding: 5em 0;
    background-color: #1C1B22;
}

.featured div {
    display: flex; /* Makes Button Resize properly */
    justify-content: center;
}

.featured__item {
    display: flex;
    flex-direction: column-reverse;
}


.featured__item-preview-img {
    justify-self:  center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.featured__item-summary{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.featured__item-summary h2 {
    font-family: 'Bebas Neue', cursive;
    color: #F2E4D8;
    font-size: 3.583rem;
    line-height: 0.9;
}

.featured__item-summary h3{
    font-family: 'Bebas Neue', cursive;
    padding-top: 0.5em;
    color: #F2E4D8;
    font-size:1.728rem;
}

.featured__item-summary p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #F2E4D8;
    font-size: 1rem;
    line-height: 2;
    margin: 0 auto;
    padding-top: 1em;
    width: 80%;
}


.featured__item-summary ul li {
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    color: #BF5E5E;
    font-size: 0.833rem;
}

.featured__item-title h4 {
    opacity: 0.8;
    font-size: 1rem;
}

.featured__item-heading{ 
    display: flex;
    align-items: center;
    padding: 0.2em 0;
    color: #F2E4D8;
    opacity: 1;
}


.featured__item-heading a{
    margin-left: 1em;
    padding: 0.5em 0;
    color: #F2E4D8;
    transition: 0.3s ease-in;
}


.featured__item-heading a:hover {
    transition: 0.3s ease-out;
    color: #BF5E5E;
}



.featured__item-language-list{
    display: flex;
    padding: 1em 0;
   font-family: 'Bebas Neue', cursive;
    color: #F2E4D8;
    font-size: 1rem;
}

.contact{ 
    padding: 5em 0;
    position: relative;
    z-index: 1;
}

.contact div{
    display: flex;
}

.contact__text{ 
    color: #F2E4D8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 55%;
    font-size: 1.44rem;
    line-height: 2;
}

.footer{
    display: flex; 
    justify-content:center;
    align-items:center;
    padding: 1.5em 0;
    margin-top: 5em;
    background-color: #25242E;
}

.footer__text{ 
    font-family: 'Bebas Neue', cursive;
    color: #F2E4D8;
    font-size: 1.2rem;
}


.footer__list{
    display:flex;
    margin-left: 1em;
    align-items: center;
    justify-content:center;
}

.footer__item a{
    justify-content: space-evenly;
    color:#F2E4D8;
}

.footer__item a:hover{
    color: #BF5E5E;
    transition: 0.3s ease-out;
}



@media screen and (min-width: 400px){
    .row{
        max-width: 300px;
    }
}

@media screen and (min-width: 700px)
{

    .row{
        max-width: 500px;
    }

    .header__text{
        font-size: 1.44rem;
        max-width: 80%;
    }


    .contact__text{
        font-size: 1.2rem;
        max-width: 80%;
    }

    .specialties__summary{
        flex-direction: column;
    }

    .specialties__item-text{
      
        margin: 0 auto;
        padding: 2em 0;
    }

}

@media screen and (min-width: 1300px)
{

    h1{
        font-size: 4.3rem;
    }

    .row{
        max-width: 1100px;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .header__text {
        font-size: 1.728rem;
        line-height: 2;
        max-width: 55%;
    }


    .contact__text{ 
        color: #F2E4D8;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        max-width: 55%;
        font-size: 1.728rem;
        line-height: 2;
    }


    .specialties__summary{
        flex-direction: row;
    }

    .specialties__item-text{
        font-size: 1rem;
        max-width: 80%;
        margin: 0;
    }
    .featured__item {
        flex-direction: row
    }

    .featured__item-summary p{
        max-width: 55%;
        text-align: left;
        margin: 0;
    }

    .featured div {
        justify-content: flex-start;
        width: 100%;
    } 
}




