.casestudy__title {
    font-size: 2.074rem;
}

@mixin casestudy--400() {
}

@mixin casestudy--700() {
    .casestudy__title {
        font-size: 2.986rem;
    }
}

@mixin casestudy--1300() {
    .casestudy__title {
        font-size: 3.583rem;
    }
}
