.casestudy {
    padding: 4em 0;
    background-color: #1c1b22;
}

.casestudy__summary {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.casestudy__item {
    padding: 1em 0;
}

.casestudy__item-title {
    padding-bottom: 0;
    padding-top: 1em;
    font-family: "Bebas Neue", cursive;
    color: #f2e4d8;
    font-size: 2.488rem;
}

.casestudy__item-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #f2e4d8;
    font-size: 1rem;
    line-height: 2;
    margin-right: 2rem;
    margin-top: 1rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
}

.casestudy__designpreview {
    padding-top: 2em;
    margin: 0 auto;
}

@mixin casestudy--400() {
    .casestudy__item-text {
        margin: 0 auto;
        padding: 2em 0;
    }
}

@mixin casestudy--700() {
}

@mixin casestudy--1300() {
    .casestudy__summary {
        flex-direction: row;
    }

    .casestudy__item-title {
        font-size: 2.986rem;
    }

    .casestudy__item-text {
        font-size: 1rem;
        max-width: 80%;
        padding: 1em 0;
        margin: 0;
    }

    .casestudy__designpreview {
        padding-top: 3.5em;
        margin: 0;
    }
}
